<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Aksa Jeneratör
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-114x114.png")
		link(rel="stylesheet" href="css/style.min.css?rev=@@hash")
		link(rel='stylesheet', href='./../../../node_modules/bootstrap/dist/css/bootstrap.min.cssw', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
	body
		include ../navBar.pug

		section.secondPage
			.secondPage__img
				img(src="../../img/about/aksa-jenerator-img.jpg", alt="#")
			section.generator
				.container
					ul.page__navigation
						li.page__navigation_item
							a.page__navigation_link(href="index.html").
								Главная страница &gt;
						li.page__navigation_item.
								Об АКСА
					h2.generator__title.
							Об АКСА
					section.about
						.about__text
							p.about__text_p.
								Основанная как электрическая моторная фабрика Али Метин Казанджи в 1968 году, АКСА произвела свой первый генератор в 1984 и стала экспертом в машинном оборудовании и оборудовании для электрического энергоснабжения в течение короткого времени. В 1994, объединение АКСА с именем Kazancı Holding стало корпоративным и было реорганизовано. В течение длительного периода времени Компания АКСА является лидером на рынке генераторных установок и является крупным экспортером и одной из двухсот крупнейших промышленных компаний Турции.
						.service__img_wrap
							.service__img
								img(src="./../../img/about/aksa-jenerator-istanbul.jpg", alt="")
							.service__img
								img(src="./../../img/about/aksa-jenerator-cin.jpg", alt="")
							.service__img
								img(src="./../../img/about/aksa-jenerator-abd.jpg", alt="")
							


		include ../footer.pug

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="./js/script.js")
	script(src="../js/navBar.js")
	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
	