.aksaserve
    .container
        .aska__title АКСА и окружающая среда
        ul.aska__list
            li.aska__item.ask1
                img.aska__img(src='../img/cevreduyarliligi.png')
                p.aska__paraph Компания АКСА использует благоприятную для окружающей среды и не содержащую триглицидилизоцианурат и свинец порошковую краску для окраски произведенных кожухов и каркаса. Этот вид краски не оказывает вредного воздействия ни на здоровье рабочих, ни на окр
                a.aska__link(href='#') Продалжать...
            li.aska__item.ask2
                img.aska__img(src='../img/geridonusum.png')
                p.aska__paraph В соответствии с соглашением с фондом Çevko (Фонд по защите окружающей среды и переработке отходов) Aksa Generators собирает твердые отходы, упаковки от проeданных товаров. Затем эти отходы производства поставляются на перерабатывающие предприятия, имеющие
                a.aska__link(href='#') Продалжать...
            li.aska__item.ask3
                img.aska__img(src='../img/gurultukirliligi.png')
                p.aska__paraph Aksa Generators, единственная компания по производству генераторных установок, которая проводит шумовые испытания, производит 28 товаров в соответствии с требованиями IEC 34 (Международных стандартов по электротехнике), которые являются общественно значим
                a.aska__link(href='#') Продалжать...