#carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
    .carousel-inner
        .carousel-item.active
            img.d-block.w-100(src='../img/slider/slide-havaalani.jpg', alt='...')
            .carousel-caption.d-none.d-md-block.title-block.carousel-title
                h5.havaalani__title Aksa Power Generation
                h5.havaalani__title Energy Supplier of The World Biggest Airport
                a.havaalani__link
                    img.link__img(src="../img/rigth-arrrow.png", alt="arrow")
                    p.link__btn more information
        .carousel-item
            img.d-block.w-100(src='../img/slider/slide1.jpg', alt='...')
            .carousel-caption.d-none.d-md-block.title-block.carousel-title1
                h5.havaalani__title1 Aksa Power Generation
        .carousel-item
            img.d-block.w-100(src='../img/slider/slide2.jpg', alt='...')
            .carousel-caption.d-none.d-md-block.title-block.carousel-title1
                h5.havaalani__title1 Aksa Power Generation
        .carousel-item
            img.d-block.w-100(src='../img/slider/slide3.jpg', alt='...')
            .carousel-caption.d-none.d-md-block.title-block.carousel-title1
                h5.havaalani__title1 Aksa Power Generation
        a.carousel-control-prev.cs-control-next(href='#carouselExampleFade', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next.cs-control-prev(href='#carouselExampleFade', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next