section.sectionFooter
	.container
		.footer
			.footerNav.footerItem
				ul.footerNavList
					li.footerNavLink
						a(href="#") ОБ АКСА
					li.footerNavLink
						a(href="#") ФИРМЕННЫЙ СТИЛЬ
					li.footerNavLink
						a(href="#") НОВОСТИ АКСА
					li.footerNavLink
						a(href="#") СВЯЗАТЬСЯ С НАМИ
					li.footerNavLink
						a(href="#") DEALER LOGIN
			.footerContact.footerItem
				h3.contactTitle Aksa Jeneratör Sanayi A.Ş.
					p.contact Genel Müdürlük
					p.contact Rüzgarlıbahçe Mahallesi, 
					p.contact Özalp Çıkmazı No:10 34805 Kavacık 
					p.contact Beykoz - İSTANBUL / TÜRKİYE
					p.contact T: + 90 216 681 00 00
					p.contact F: + 90 216 681 57 91
					p.contact aksa@aksa.com.tr
			.footerLogo.footerItem
				img.footerLogoImg(src="../img/cagri-merkezi.png", alt="")
				.footerIcon 
					h4.footerIconTitle Подписывайтесь на нас
					.footerIconFas
						.iconLink
							a.fab.fa-facebook-f(href="#")
						.iconLink
							a.fab.fa-twitter(href="#")
						.iconLink
							a.fab.fa-instagram(href="#")
						.iconLink
							a.fab.fa-linkedin-in(href="#")
	.footerFooter
		.footerLinks
			p.footerLinksText Все права защищены..
			a.footerLinksLink(href="#") Information Society Services
			a.footerLinksLink(href="#") Условия использования и  Политика конфиденциальности
		.footerImage
			img.footerImageImg(src="../img/kazanci-holding-logo.png", alt="")