.hakkinda
    .container
        .logo__hakk
            img.logo(src='../img/logo.png')
        .paraph__hakkinda Основанная как электрическая моторная фабрика Али Метин Казанджи в 1968 году, АКСА произвела свой первый генератор в 1984 и стала экспертом в машинном оборудовании и оборудовании для электрического энергоснабжения в течение короткого времени. В 1994, объединение АКСА с именем Kazancı Holding стало корпоративным и было реорганизовано. В течение длительного периода времени Компания АКСА является лидером на рынке генераторных установок и является крупным экспортером и одной из двухсот крупнейших промышленных компаний Турции.
        ul.hakk__list
            li.hakk_item
                img.hakk__img(src='../img/hakkinda/hakkinda-img1.jpg')
            li.hakk_item
                img.hakk__img(src='../img/hakkinda/hakkinda-img2.jpg')
            li.hakk_item
                img.hakk__img(src='../img/hakkinda/hakkinda-img3.jpg')