.infoSection
	.infoWrap
		.info.i1
			.infoDiv
				div.icon
			h2.title Дизельные генераторные установки
			a.more(href="#") ПОДРОБНЕЕ
				i.fas.fa-arrow-alt-circle-right
		.info.i2
			.infoDiv
				div.icon
			h2.title ПОРТАТИВНЫЕ генераторные установки
			a.more(href="#") ПОДРОБНЕЕ
				i.fas.fa-arrow-alt-circle-right
		.info.i3
			.infoDiv
				div.icon
			h2.title Генераторные установки природного газа
			a.more(href="#") ПОДРОБНЕЕ
				i.fas.fa-arrow-alt-circle-right
		.info.i4
			.infoDiv
				div.icon
			h2.title МОРСКОЙ
			a.more(href="#") ПОДРОБНЕЕ
				i.fas.fa-arrow-alt-circle-right
		.info.i5
			.infoDiv
				div.icon
			h2.title Осветительные мачты
			a.more(href="#") ПОДРОБНЕЕ
				i.fas.fa-arrow-alt-circle-right
