.span
	.spanTitle
		h2.spanText GIANT ENERGY ARTERY OF TURKEY
	.homeText
		h1.homeTextTitle POWER YOUR FUTURE
		p.homeTextText Мы подберем для вас подходящий генератор для дома или коммерческого предприятия и ваша жизнь будет продолжаться с АКСА…
		button.homeTextLink Позвоним вам для подходящего генератора…